h1 , h2,  p {
  font-family: "Roboto Mono";
}
i {
  font-size: 2rem;
}
header{
  background: #22C1C3;
background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  margin: 5vh 10vw;
  padding: 5vh 5vw;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* .head {

  display: flex;
  gap: 0;
  justify-content: center;
  height: 50vh;
} */
.headContent {
  position: relative;
  max-width: 30vw;
  margin-top: 3vw;
  padding: 1vw 1vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* max-height: 30vh; */
  height: fit-content;
  justify-content: center;
}
.icons {
  padding: 0px 1vw;
  gap: 10px;
  display: flex;
  justify-content: flex-end;
}
.imageText{
  font-weight: 800;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.normalImage {
  transition: 0.2s ease-in;
  position: relative;
  width: 35vw;
  border-radius: 25px;
}
.projectImg{
  height: 25vh;
    /* width: 25vw; */
    background-image: url(./nah.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
main{
  min-height: 50vw;
    margin: 0px 10vw;

}

main > h1{
  text-align: center;
}

.projects{
    /* padding: 0px 300px; */
    gap: 3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}
.project{
  border: 2px solid black;
  border-radius: 25px;
  padding: 1%;
    min-width: 100px;
    max-width: 350px;
    transition: 0.25s ease-in-out;
}
.projects>.project:hover{
  transform: scale(1.05);
  cursor: pointer;
}
footer{
  border-radius: 25px;
  padding: 5vh 5vw;
  background: #00f1f5;
background: linear-gradient(90deg, rgba(0, 241, 245, 1) 0%, rgba(9, 9, 121, 0.79) 74%, rgba(204, 16, 16, 0.43) 100%);
  display: flex;
  margin: 5vh 10vw;
}
.phone , .email{
  display: flex;
  gap: 25px;
  align-items: center;
  gap: 10px;
}

.footerImg{
  background-image: url(./gojoF.jpg);
  height: 45vh;
  width: 45vw;
  border-radius: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in;
}


/* Tablet */
@media (min-width: 600px) and (max-width: 1200px) {
  .footerContent{
    width: 50vw;
  }

  .footerImg{
  transition: 0.2s ease-in;
  margin: 1em;
  background-image: url(./gojoFCropped.jpg);
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}  
}

@media (max-width: 600px){
  /* Mobile */
  header{
    gap: 1vh;
    padding: 1vh 1vw;
    display: flex;
    /* padding: 5vh 0 ; */
    flex-direction: column;
  }
  .icons2{
    display: flex;
    justify-content: space-around;
  }
  .headContent{
    margin: 0;
  }
  .icons{
    justify-content: space-between ;
  }
  .footerImg{
    width: 100%;
    background-position: center;
  }
  footer{
    gap: 25px;
    text-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;
  }
}